<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles.css">
    <title>Sign Up</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="../index.html">AgriExtension</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../components/login.html">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../components/signup.html">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../components/articles.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact-section">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact-section"><span class="icon-facebook"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact-section"><span class="icon-twitter"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact-section"><span class="icon-linkedin"></span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 form signup-form">
                <form action="signup-user.php" method="POST" autocomplete="">
                    <h2 class="text-center">Sign Up Form</h2>
                    <p class="text-center">Create an account with your email and password.</p>
                    <div class="alert alert-danger text-center" style="display: none;" id="error-message"></div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="name" placeholder="Full Name" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" placeholder="Email Address" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control button" type="submit" name="signup" value="Sign Up">
                    </div>
                    <div class="link login-link text-center">Already a member? <a href="../components/login.html">Login now</a></div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
